<?xml version="1.0"?>
<config>
    <modules>
        <Comunicart_JQuery>
            <version>1.0</version>
        </Comunicart_JQuery>
    </modules>
    <default>
        <jquery>
            <general>
                <enabled>1</enabled>
            </general>
            <plugins>
                <colorbox>1</colorbox>
                <jqzoom>0</jqzoom>
        	  </plugins>
            <colorbox>
                <style>style1</style>
                <transition>none</transition>
                <speed>350</speed>
                <width>75%</width>
                <height>75%</height>
                <opacity>0.85</opacity>
                <loop>1</loop>
                <slideshow>0</slideshow>
                <slideshow_speed>2500</slideshow_speed>
                <slideshow_auto>1</slideshow_auto>
            </colorbox>
            <jqzoom>
                <colorbox>1</colorbox>
                <zoom_type>standard</zoom_type>
                <zoom_width>300</zoom_width>
                <zoom_height>300</zoom_height>
                <x_offset>10</x_offset>
                <y_offset>0</y_offset>
                <position>right</position>
                <preload_images>1</preload_images>
                <preload_text>Loading zoom</preload_text>
                <title>1</title>
                <lens>1</lens>
                <image_opacity>0.4</image_opacity>
                <show_effect>show</show_effect>
                <hide_effect>hide</hide_effect>
                <fadein_speed>slow</fadein_speed>
                <fadeout_speed>2000</fadeout_speed>
            </jqzoom>
        </jquery>
    </default>
    <global>
        <helpers>
            <jquery>
                <class>Comunicart_JQuery_Helper</class>
            </jquery>
        </helpers>
        <models>
            <jquery>
                <class>Comunicart_JQuery_Model</class>
            </jquery>
        </models>
        <blocks>
            <jquery>
                <class>Comunicart_JQuery_Block</class>
            </jquery>
            <catalog>
                <rewrite>
                    <product_view_media>Comunicart_JQuery_Block_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jquery>
                                            <title>jQuery</title>
                                        </jquery>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <jquery>
                    <files>
                        <default>Comunicart_JQuery.csv</default>
                    </files>
                </jquery>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <jquery>
                    <file>comunicart/jquery.xml</file>
                </jquery>
            </updates>
        </layout>
        <translate>
            <modules>
                <jquery>
                    <files>
                        <default>Comunicart_JQuery.csv</default>
                    </files>
                </jquery>
            </modules>
        </translate>
    </frontend>
</config>
